{% extends 'education_department/base.html' %}

{% block body_static %}
    {% include 'static_plugins/form_body.html' %}
{% endblock %}
{% block head_static %}
    {% include 'static_plugins/form_head.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card card-primary">
        <div class="card-header">
          <div class="row">
            <div class="col-6"><h3 class="card-title"> Barcha bandlar to'ldirilishi shart ! </h3></div>
            <div class="col-6"><div class="text-danger">{{ error_msg }}</div></div>
          </div>
        </div>
        <form method="POST"> {% csrf_token %}
          <div class="card-body row">
            <div class="form-group col-md-6">
              <label for="exampleInputEmail1"> Fakultet nomini kiriting </label>
              <input type="text" name="faculty_name" class="form-control" id="exampleInputEmail1" placeholder="Kafedra nomi">
            </div>
              <div class="form-group col-md-6 col-12">
                <label for="exampleSelectRounded0"> Dekanni tanlang   </label>
                <select class="custom-select rounded-0" id="exampleSelectRounded0" name="manager_id">
                  <option selected disabled value=""> ... </option>  
                  {% for i in query_dekan %}
                    <option value="{{ i.pk }}">{{ i.user }}</option>
                  {% endfor %}  
                </select>
              </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary"> Saqlash </button>
          </div>
        </form>
      </div>
    </div>    
  </div>
{% endblock %}