{% extends 'education_department/base.html' %}

{% block body_static %}
    {% include 'static_plugins/data_table_body.html' %}
{% endblock %}
{% block head_static %}
    {% include 'static_plugins/data_table_head.html' %}
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-6">
              <h3 class="card-title"> Ushbu qismda barcha fakultetlar ro'yxati berilgan </h3>
            </div>
            <div class="col-6">
                <a href="{% url 'education_department:add_faculty' %}" class="btn btn-sm btn-primary position-relative" style="width: 100%;">
                    Fakultet qo'shish
                </a>
            </div>
        </div>
        </div>
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th> Fakultet nomi </th>
              <th> Fakultet dekani ismi </th>
              <th> Fakultet dekani familyasi </th>
            </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td>
                        <a href="#">
                            {{ i.name }}
                        </a>
                    </td>
                    <td>
                        {{ i.manager.user.first_name }}
                    </td>
                    <td>
                        {{ i.manager.user.last_name }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}




